.category-container{
    margin-block: 1rem;
}

.category-title{
    font-size: clamp(1.3rem, 1.5658rem + -1.0127vw, 0.8rem);
    font-weight: 600;
   
}

.span-add-icon{
    display: grid;
    padding: 0.3rem;
    place-content: center;
}

.widget-list{
    display: flex;
    gap: 0.6rem;
    overflow-x: auto;
    scrollbar-width: none;
}
.widget-list::-webkit-scrollbar {
    display: none; 
}

.widget-card-list{
    padding: 0;
}
.add-widget{
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 0.4rem;
    min-width: 270px;
    min-height: 160px;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .widget-list{
        gap: 1rem;
    }
    
    .add-widget{
        min-width: 400px;
        height: 240px;
        
    }
     
}

@media screen and (min-width:1024px) {
    .add-widget{
        width: 400px;
        height: 280px;
       
    }
}