.home-section{
    height: 100vh;
    background-color: var(--bg-clr-secondry);
    display: flex;
    align-items: center;
    justify-content: center;
}



.go-to-btn{
    background-color: #fff;
    border: 1px solid #14147d;
    color: #14147d;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.go-to-btn:hover{
    background-color: #14147d;
    color: #ffffff;
}