.dashboard-section {
    background-color: var(--bg-clr-secondry);
    padding-block: 1rem;
}


.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.6rem;
    flex-wrap: wrap;
}

.dashboard-title {
    font-size: clamp(1.3rem, 1.5658rem + -1.0127vw, 0.8rem);
    font-weight: 600;
    color: var(--clr-secondary);
}

.dashboard-actions {
    display: flex;
    gap: 0.5rem;
}



.categories-list{
    padding: 0;
    margin: 0;
}

@media screen and (min-width:768px){
    .dashboard-section{
        padding-block: 1.5rem;
    }
    .dashboard-header{
        padding-block: 1rem;
    }
    .dashboard-actions{
        gap: 1rem;
    }
    .dashboard-btn{
        padding: 0.5rem 0.8rem;
    }
}